.close-btn{
    display: flex;
    color: white
}

.title{
    color: white;
}

.modal {
    padding: .5rem;
    width: 600px;
    height: 400px;
    background-color: black;
    margin-left: 30%;
    margin-top: 3%;
    justify-items: center
}

.img{
    max-width: 500px;
    max-height: 300px;
    justify-items: center;
}

.modal-content{
    margin-left: 10%;
}