.close-btn{
    display: flex;
    color: white
}

.title{
    color: white
}

.modal {
    padding: .5rem;
    width: 60%;
    height: 85%;
    background-color: black;
    margin-left: 20%;
    margin-top: 3%;
}

.img{
    margin-left: 20%;
    justify-items: center;
}